schemas/burgers_equation.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="spud_base.rng"/>
  <include href="adaptivity_options.rng"/>
  <include href="diagnostic_algorithms.rng"/>
  <include href="input_output.rng"/>
  <include href="solvers.rng"/>
  <include href="stabilisation.rng"/>
  <include href="reduced_model.rng"/>
  <include href="mesh_options.rng"/>
  <include href="physical_parameters.rng"/>
  <include href="prognostic_field_options.rng"/>
  <include href="prescribed_field_options.rng"/>
  <include href="spatial_discretisation.rng"/>
  <include href="temporal_discretisation.rng"/>
  <start>
    <element name="burgers_equation">
      <a:documentation>The root node of the options dictionary.</a:documentation>
      <ref name="comment"/>
      <element name="simulation_name">
        <a:documentation>Model output files are named according to the simulation
name, e.g. [simulation_name]_0.vtu. Non-standard
characters in the simulation name should be avoided.</a:documentation>
        <ref name="anystring"/>
      </element>
      <ref name="geometry"/>
      <ref name="io"/>
      <ref name="timestepping"/>
      <ref name="material_phase"/>
      <optional>
        <ref name="adjoint_options"/>
      </optional>
    </element>
  </start>
  <define name="geometry">
    <element name="geometry">
      <a:documentation>Options dealing with the specification of geometry</a:documentation>
      <element name="dimension">
        <a:documentation>Dimension of the problem.
&lt;b&gt;This can only be set once&lt;/b&gt;</a:documentation>
        <attribute name="replaces">
          <value>NDIM</value>
        </attribute>
        <element name="integer_value">
          <attribute name="rank">
            <value>0</value>
          </attribute>
          <value>1</value>
        </element>
      </element>
      <element name="mesh">
        <a:documentation>The position mesh</a:documentation>
        <attribute name="name">
          <value>CoordinateMesh</value>
        </attribute>
        <ref name="mesh_info_fromfile"/>
      </element>
      <element name="mesh">
        <a:documentation>The velocity mesh</a:documentation>
        <attribute name="name">
          <value>VelocityMesh</value>
        </attribute>
        <ref name="mesh_info_frommesh"/>
      </element>
      <element name="quadrature">
        <a:documentation>Quadrature</a:documentation>
        <element name="degree">
          <a:documentation>Quadrature degree

note: this specifies the degree of quadrature,
not the number of gauss points</a:documentation>
          <attribute name="replaces">
            <value>NGI</value>
          </attribute>
          <ref name="integer"/>
        </element>
        <optional>
          <element name="surface_degree">
            <a:documentation>Surface quadrature degree

note: this specifies the degree of surface
quadrature not the number of surface gauss points</a:documentation>
            <attribute name="replaces">
              <value>SNGI</value>
            </attribute>
            <ref name="integer"/>
          </element>
        </optional>
      </element>
    </element>
  </define>
  <define name="mesh_choice_coordinate">
    <element name="mesh">
      <attribute name="name">
        <value>CoordinateMesh</value>
      </attribute>
    </element>
  </define>
  <define name="mesh_choice">
    <choice>
      <element name="mesh">
        <attribute name="name">
          <value>VelocityMesh</value>
        </attribute>
      </element>
      <element name="mesh">
        <attribute name="name">
          <value>CoordinateMesh</value>
        </attribute>
      </element>
    </choice>
  </define>
  <define name="mesh_info_fromfile">
    <element name="from_file">
      <a:documentation>Read mesh from file.</a:documentation>
      <choice>
        <element name="format">
          <a:documentation>Triangle mesh format.

Enter the base name without the .edge .ele, .face or
.node extensions, and without process numbers.</a:documentation>
          <attribute name="name">
            <value>triangle</value>
          </attribute>
          <ref name="comment"/>
        </element>
        <element name="format">
          <a:documentation>Read the mesh from a vtu. Note that the mesh will have no 
surface or region IDs.</a:documentation>
          <attribute name="name">
            <value>vtu</value>
          </attribute>
          <ref name="comment"/>
        </element>
        <element name="format">
          <a:documentation>GMSH mesh format</a:documentation>
          <attribute name="name">
            <value>gmsh</value>
          </attribute>
          <ref name="comment"/>
        </element>
      </choice>
      <attribute name="file_name">
        <data type="string"/>
      </attribute>
      <ref name="from_file_mesh_stat_options"/>
      <ref name="comment"/>
    </element>
  </define>
  <define name="mesh_info_frommesh">
    <element name="from_mesh">
      <a:documentation>Make mesh from existing mesh. </a:documentation>
      <ref name="mesh_choice_coordinate"/>
      <optional>
        <element name="mesh_shape">
          <optional>
            <element name="polynomial_degree">
              <ref name="integer"/>
            </element>
          </optional>
          <optional>
            <element name="element_type">
              <element name="string_value">
                <value>lagrangian</value>
              </element>
            </element>
          </optional>
        </element>
      </optional>
      <ref name="derived_mesh_stat_options"/>
      <ref name="comment"/>
    </element>
  </define>
  <define name="timestepping">
    <element name="timestepping">
      <a:documentation>Options dealing with time discretisation</a:documentation>
      <element name="current_time">
        <a:documentation>Current simulation time. At the start of the simulation this
is the start time.</a:documentation>
        <attribute name="replaces">
          <value>ACCTIM</value>
        </attribute>
        <ref name="real"/>
      </element>
      <element name="timestep">
        <a:documentation>The time step size. If adaptive time stepping is used
then this is the initial time step size.</a:documentation>
        <attribute name="replaces">
          <value>DT</value>
        </attribute>
        <ref name="real"/>
      </element>
      <element name="finish_time">
        <a:documentation>Simulation time at which the simulation should end.</a:documentation>
        <attribute name="replaces">
          <value>LTIME</value>
        </attribute>
        <ref name="real"/>
      </element>
      <optional>
        <element name="final_timestep">
          <a:documentation>Timestep after which the simulation should end.</a:documentation>
          <ref name="integer"/>
        </element>
      </optional>
      <optional>
        <element name="nonlinear_iterations">
          <a:documentation>Number of non-linear iterations.

Manual suggests 2</a:documentation>
          <attribute name="replaces">
            <value>ITINOI</value>
          </attribute>
          <ref name="integer"/>
        </element>
      </optional>
      <optional>
        <element name="steady_state">
          <a:documentation>Indicate that the problem should be considered time-independent.
The model will pseudo-timestep to convergence, and exit from the
timestepping loop when the steady state tolerance has been reached.</a:documentation>
          <element name="tolerance">
            <a:documentation>The convergence tolerance, in the L2 norm</a:documentation>
            <ref name="real"/>
          </element>
        </element>
      </optional>
    </element>
  </define>
  <define name="material_phase">
    <element name="material_phase">
      <a:documentation>The material phase options</a:documentation>
      <attribute name="name">
        <value>Fluid</value>
      </attribute>
      <element name="scalar_field">
        <attribute name="rank">
          <value>0</value>
        </attribute>
        <attribute name="name">
          <value>Velocity</value>
        </attribute>
        <element name="prognostic">
          <element name="mesh">
            <attribute name="name">
              <value>VelocityMesh</value>
            </attribute>
          </element>
          <optional>
            <element name="temporal_discretisation">
              <a:documentation>Options dealing with the temporal discretisation of velocity</a:documentation>
              <element name="theta">
                <a:documentation>The degree of implicitness in the timestepping. 
0 is fully explicit, 1 is implicit, 0.5 is Crank-Nicolson.
Recommended to be 0.5.</a:documentation>
                <ref name="real"/>
              </element>
              <element name="relaxation">
                <a:documentation>The relaxation term in the nonlinear iterations at each timestep
0 means the previous timestep velocity is used to form the advection operator,
while 1 means the best guess of the next timestep velocity is used.
Recommended to be 0.5.</a:documentation>
                <ref name="real"/>
              </element>
            </element>
          </optional>
          <element name="solver">
            <ref name="linear_solver_options_asym"/>
          </element>
          <optional>
            <element name="remove_advection_term">
              <a:documentation>If activated, the advection term is removed from the equation.</a:documentation>
              <empty/>
            </element>
          </optional>
          <ref name="initial_condition_scalar"/>
          <oneOrMore>
            <ref name="boundary_conditions"/>
          </oneOrMore>
          <element name="viscosity">
            <ref name="real"/>
          </element>
          <element name="stat">
            <ref name="comment"/>
          </element>
          <ref name="adjoint_storage"/>
          <optional>
            <element name="scalar_field">
              <attribute name="name">
                <value>Source</value>
              </attribute>
              <attribute name="rank">
                <value>0</value>
              </attribute>
              <element name="prescribed">
                <ref name="prescribed_scalar_field_no_adapt"/>
                <optional>
                  <ref name="recalculation_options"/>
                </optional>
              </element>
            </element>
          </optional>
        </element>
      </element>
      <zeroOrMore>
        <element name="scalar_field">
          <a:documentation>Prescribed or diagnostic scalar fields.</a:documentation>
          <attribute name="rank">
            <value>0</value>
          </attribute>
          <attribute name="name">
            <data type="string" datatypeLibrary=""/>
          </attribute>
          <choice>
            <element name="prescribed">
              <ref name="mesh_choice"/>
              <ref name="prescribed_scalar_field_no_adapt"/>
              <optional>
                <ref name="recalculation_options"/>
              </optional>
              <ref name="adjoint_storage"/>
            </element>
            <element name="diagnostic">
              <ref name="mesh_choice"/>
              <ref name="diagnostic_scalar_field"/>
              <ref name="adjoint_storage"/>
            </element>
          </choice>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="boundary_conditions">
    <element name="boundary_conditions">
      <a:documentation>Boundary conditions</a:documentation>
      <attribute name="name">
        <data type="string" datatypeLibrary=""/>
      </attribute>
      <element name="surface_ids">
        <a:documentation>Surface id</a:documentation>
        <ref name="integer_vector"/>
      </element>
      <element name="type">
        <attribute name="name">
          <value>dirichlet</value>
        </attribute>
        <ref name="input_choice_real"/>
      </element>
    </element>
  </define>
  <define name="prescribed_output_options">
    <empty/>
  </define>
  <define name="prescribed_detector_options">
    <empty/>
  </define>
  <define name="prescribed_scalar_stat_options">
    <empty/>
  </define>
  <define name="discrete_properties_algorithm_scalar">
    <empty/>
  </define>
  <define name="recalculation_options">
    <element name="do_not_recalculate">
      <a:documentation>Prevent this field from being recalculated at every timestep.
This is cheaper especially if you are enforcing discrete properties on the field.</a:documentation>
      <empty/>
    </element>
  </define>
  <define name="diagnostic_scalar_field">
    <ref name="scalar_python_diagnostic_algorithm"/>
    <element name="stat">
      <ref name="comment"/>
    </element>
    <optional>
      <ref name="recalculation_options"/>
    </optional>
  </define>
  <define name="adjoint_storage">
    <element name="adjoint_storage">
      <a:documentation>Informs the model whether the field should be computed only in the
forward model, the adjoint model, or in both.
If /adjoint is not enabled, this has no effect whatsoever.</a:documentation>
      <choice>
        <element name="include_in_both">
          <a:documentation>Include the field in both the forward and adjoint states.</a:documentation>
          <empty/>
        </element>
        <element name="only_in_forward">
          <a:documentation>Include the field only in the forward state.</a:documentation>
          <empty/>
        </element>
        <element name="only_in_adjoint">
          <a:documentation>Include the field only in the adjoint state.</a:documentation>
          <empty/>
        </element>
      </choice>
    </element>
  </define>
  <define name="adjoint_options">
    <element name="adjoint">
      <a:documentation>Turn on the solution of the adjoint problem.
To compute the adjoint you must either specify code for the functional
or for its derivative. If the derivative is not specified, then
the independent set perturbation method will be used to approximate
its derivative. </a:documentation>
      <optional>
        <element name="functional">
          <a:documentation>The functional to be computed.
If the derivative is not specified, then the independent set perturbation
method will be employed to approximate its derivative.
FIXME: needs more documentation</a:documentation>
          <element name="algorithm">
            <a:documentation>Python code for the functional</a:documentation>
            <attribute name="name">
              <value>functional</value>
            </attribute>
            <ref name="python_code"/>
          </element>
        </element>
      </optional>
      <optional>
        <element name="functional_derivative">
          <a:documentation>The derivative of the functional. If this is specified, then
the derivative can be computed exactly and more efficiently than
if the independent set perturbation method is employed to approximate it.</a:documentation>
          <element name="algorithm">
            <a:documentation>Python code for the functional derivative</a:documentation>
            <attribute name="name">
              <value>functional_derivative</value>
            </attribute>
            <ref name="python_code"/>
          </element>
        </element>
      </optional>
    </element>
  </define>
  <define name="io">
    <element name="io">
      <a:documentation>Options to do with I/O</a:documentation>
      <element name="dump_format">
        <a:documentation>Dump format</a:documentation>
        <value>vtk</value>
      </element>
      <optional>
        <element name="dump_period_in_timesteps">
          <a:documentation>Dump period, in timesteps. Defaults to 1</a:documentation>
          <element name="constant">
            <ref name="integer"/>
          </element>
        </element>
      </optional>
      <choice>
        <element name="output_mesh">
          <a:documentation>The mesh on to which all the fields will be
interpolated for VTK output.</a:documentation>
          <attribute name="name">
            <value>VelocityMesh</value>
          </attribute>
        </element>
        <element name="output_mesh">
          <a:documentation>The mesh on to which all the fields will be
interpolated for VTK output.</a:documentation>
          <attribute name="name">
            <data type="string"/>
          </attribute>
        </element>
      </choice>
    </element>
  </define>
</grammar>
