schemas/test_coupler.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="spud_base.rng"/>
  <include href="adaptivity_options.rng"/>
  <include href="diagnostic_algorithms.rng"/>
  <include href="input_output.rng"/>
  <include href="solvers.rng"/>
  <include href="stabilisation.rng"/>
  <include href="reduced_model.rng"/>
  <include href="mesh_options.rng"/>
  <include href="physical_parameters.rng"/>
  <include href="prognostic_field_options.rng"/>
  <include href="prescribed_field_options.rng"/>
  <include href="spatial_discretisation.rng"/>
  <include href="temporal_discretisation.rng"/>
  <start>
    <element name="test_coupler">
      <a:documentation>The root node of the options dictionary.</a:documentation>
      <ref name="comment"/>
      <element name="simulation_name">
        <a:documentation>Model output files are named according to the simulation
name, e.g. [simulation_name]_0.vtu. Non-standard
characters in the simulation name should be avoided.</a:documentation>
        <ref name="anystring"/>
      </element>
      <ref name="geometry"/>
      <ref name="io"/>
      <ref name="material_phase"/>
      <optional>
        <ref name="coupling_options"/>
      </optional>
    </element>
  </start>
  <define name="coupling_options">
    <optional>
      <element name="coupling">
        <a:documentation>These options activate coupling of Fluidity with OASIS.
NB: Currently only works in 2D</a:documentation>
        <element name="element_count">
          <a:documentation>Number of elements in longitude and latitude dimension respectively</a:documentation>
          <ref name="integer_dim_vector"/>
        </element>
        <element name="longitude_extent">
          <a:documentation>The minimum and maximum longitude of the coupled domain</a:documentation>
          <ref name="real_dim_vector"/>
        </element>
        <element name="latitude_extent">
          <a:documentation>The minimum and maximum latitude of the coupled domain</a:documentation>
          <ref name="real_dim_vector"/>
        </element>
      </element>
    </optional>
  </define>
  <define name="geometry">
    <element name="geometry">
      <a:documentation>Options dealing with the specification of geometry</a:documentation>
      <element name="dimension">
        <a:documentation>Dimension of the problem.
&lt;b&gt;This can only be set once&lt;/b&gt;</a:documentation>
        <element name="integer_value">
          <attribute name="rank">
            <value>0</value>
          </attribute>
          <choice>
            <value>3</value>
            <value>2</value>
          </choice>
        </element>
      </element>
      <element name="mesh">
        <a:documentation>The position mesh</a:documentation>
        <attribute name="name">
          <value>CoordinateMesh</value>
        </attribute>
        <ref name="mesh_info_fromfile"/>
      </element>
      <element name="mesh">
        <a:documentation>The tracer mesh</a:documentation>
        <attribute name="name">
          <value>TracerMesh</value>
        </attribute>
        <ref name="mesh_info_frommesh"/>
      </element>
      <element name="quadrature">
        <a:documentation>Quadrature</a:documentation>
        <element name="degree">
          <a:documentation>Quadrature degree

note: this specifies the degree of quadrature,
not the number of gauss points</a:documentation>
          <ref name="integer"/>
        </element>
        <optional>
          <element name="surface_degree">
            <a:documentation>Surface quadrature degree

note: this specifies the degree of surface
quadrature not the number of surface gauss points</a:documentation>
            <ref name="integer"/>
          </element>
        </optional>
      </element>
    </element>
  </define>
  <define name="mesh_choice_coordinate">
    <element name="mesh">
      <attribute name="name">
        <value>CoordinateMesh</value>
      </attribute>
    </element>
  </define>
  <define name="mesh_choice">
    <choice>
      <element name="mesh">
        <attribute name="name">
          <value>TracerMesh</value>
        </attribute>
      </element>
      <element name="mesh">
        <attribute name="name">
          <value>CoordinateMesh</value>
        </attribute>
      </element>
    </choice>
  </define>
  <define name="mesh_info_fromfile">
    <element name="from_file">
      <a:documentation>Read mesh from file.</a:documentation>
      <choice>
        <element name="format">
          <a:documentation>Triangle mesh format.

Enter the base name without the .edge .ele, .face or
.node extensions, and without process numbers.</a:documentation>
          <attribute name="name">
            <value>triangle</value>
          </attribute>
          <ref name="comment"/>
        </element>
        <element name="format">
          <a:documentation>Read the mesh from a vtu. Note that the mesh will have no 
surface or region IDs.</a:documentation>
          <attribute name="name">
            <value>vtu</value>
          </attribute>
          <ref name="comment"/>
        </element>
        <element name="format">
          <a:documentation>GMSH mesh format</a:documentation>
          <attribute name="name">
            <value>gmsh</value>
          </attribute>
          <ref name="comment"/>
        </element>
      </choice>
      <attribute name="file_name">
        <data type="string"/>
      </attribute>
      <ref name="from_file_mesh_stat_options"/>
      <ref name="comment"/>
    </element>
  </define>
  <define name="mesh_info_frommesh">
    <element name="from_mesh">
      <a:documentation>Make mesh from existing mesh. </a:documentation>
      <ref name="mesh_choice_coordinate"/>
      <optional>
        <element name="mesh_shape">
          <optional>
            <element name="polynomial_degree">
              <ref name="integer"/>
            </element>
          </optional>
          <optional>
            <element name="element_type">
              <element name="string_value">
                <value>lagrangian</value>
              </element>
            </element>
          </optional>
        </element>
      </optional>
      <ref name="derived_mesh_stat_options"/>
      <ref name="comment"/>
    </element>
  </define>
  <define name="material_phase">
    <element name="material_phase">
      <a:documentation>The material phase options</a:documentation>
      <attribute name="name">
        <value>Fluid</value>
      </attribute>
      <element name="scalar_field">
        <attribute name="rank">
          <value>0</value>
        </attribute>
        <attribute name="name">
          <value>Tracer</value>
        </attribute>
        <element name="prognostic">
          <element name="mesh">
            <attribute name="name">
              <value>TracerMesh</value>
            </attribute>
          </element>
          <ref name="initial_condition_scalar"/>
          <element name="stat">
            <ref name="comment"/>
          </element>
          <optional>
            <element name="scalar_field">
              <attribute name="name">
                <value>Source</value>
              </attribute>
              <attribute name="rank">
                <value>0</value>
              </attribute>
              <element name="prescribed">
                <ref name="prescribed_scalar_field_no_adapt"/>
                <optional>
                  <ref name="recalculation_options"/>
                </optional>
              </element>
            </element>
          </optional>
          <optional>
            <!-- If enabled, save the right hand side of the discrete equations. -->
            <element name="scalar_field">
              <attribute name="name">
                <value>Rhs</value>
              </attribute>
              <attribute name="rank">
                <value>0</value>
              </attribute>
              <element name="diagnostic">
                <empty/>
              </element>
            </element>
          </optional>
        </element>
      </element>
      <zeroOrMore>
        <element name="scalar_field">
          <a:documentation>Prescribed or diagnostic scalar fields.</a:documentation>
          <attribute name="rank">
            <value>0</value>
          </attribute>
          <attribute name="name">
            <data type="string" datatypeLibrary=""/>
          </attribute>
          <choice>
            <element name="prescribed">
              <ref name="mesh_choice"/>
              <ref name="prescribed_scalar_field_no_adapt"/>
              <optional>
                <ref name="recalculation_options"/>
              </optional>
            </element>
            <element name="diagnostic">
              <ref name="mesh_choice"/>
              <ref name="diagnostic_scalar_field"/>
            </element>
          </choice>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="boundary_conditions">
    <element name="boundary_conditions">
      <a:documentation>Boundary conditions</a:documentation>
      <attribute name="name">
        <data type="string" datatypeLibrary=""/>
      </attribute>
      <element name="surface_ids">
        <a:documentation>Surface id</a:documentation>
        <ref name="integer_vector"/>
      </element>
      <element name="type">
        <attribute name="name">
          <value>dirichlet</value>
        </attribute>
        <ref name="input_choice_real"/>
      </element>
    </element>
  </define>
  <define name="prescribed_output_options">
    <empty/>
  </define>
  <define name="prescribed_detector_options">
    <empty/>
  </define>
  <define name="prescribed_scalar_stat_options">
    <empty/>
  </define>
  <define name="discrete_properties_algorithm_scalar">
    <empty/>
  </define>
  <define name="recalculation_options">
    <element name="do_not_recalculate">
      <a:documentation>Prevent this field from being recalculated at every timestep.
This is cheaper especially if you are enforcing discrete properties on the field.</a:documentation>
      <empty/>
    </element>
  </define>
  <define name="diagnostic_scalar_field">
    <ref name="scalar_python_diagnostic_algorithm"/>
    <element name="stat">
      <ref name="comment"/>
    </element>
    <optional>
      <ref name="recalculation_options"/>
    </optional>
  </define>
  <define name="io">
    <element name="io">
      <a:documentation>Options to do with I/O</a:documentation>
      <element name="dump_format">
        <a:documentation>Dump format</a:documentation>
        <value>vtk</value>
      </element>
      <optional>
        <element name="dump_period_in_timesteps">
          <a:documentation>Dump period, in timesteps. Defaults to 1</a:documentation>
          <element name="constant">
            <ref name="integer"/>
          </element>
        </element>
      </optional>
      <choice>
        <element name="output_mesh">
          <a:documentation>The mesh on to which all the fields will be
interpolated for VTK output.</a:documentation>
          <attribute name="name">
            <value>VelocityMesh</value>
          </attribute>
        </element>
        <element name="output_mesh">
          <a:documentation>The mesh on to which all the fields will be
interpolated for VTK output.</a:documentation>
          <attribute name="name">
            <data type="string"/>
          </attribute>
        </element>
      </choice>
    </element>
  </define>
</grammar>
