qg_strat/schema/qg_strat_options.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="spud_base.rng"/>
  <include href="solvers.rng"/>
  <include href="adaptivity_options.rng"/>
  <include href="mesh_options.rng"/>
  <include href="input_output.rng"/>
  <include href="prognostic_field_options.rng"/>
  <include href="prescribed_field_options.rng"/>
  <include href="diagnostic_algorithms.rng"/>
  <include href="spatial_discretisation.rng"/>
  <include href="temporal_discretisation.rng"/>
  <include href="stabilisation.rng"/>
  <include href="physical_parameters.rng"/>
  <start>
    <element name="qg_strat_options">
      <a:documentation>The root node of the options dictionary.</a:documentation>
      <ref name="comment"/>
      <element name="simulation_name">
        <a:documentation>Model output files are named according to the simulation name, e.g. [simulation_name]_0.vtu. Non-standard characters in the simulation name should be avoided.</a:documentation>
        <ref name="anystring"/>
      </element>
      <element name="geometry">
        <a:documentation>Options dealing with the specification of geometry</a:documentation>
        <element name="dimension">
          <a:documentation>Dimension of the problem.
&lt;b&gt;This can only be set once&lt;/b&gt;</a:documentation>
          <element name="integer_value">
            <attribute name="rank">
              <value>0</value>
            </attribute>
            <choice>
              <value>3</value>
              <value>2</value>
            </choice>
          </element>
        </element>
        <element name="mesh">
          <a:documentation>The position mesh</a:documentation>
          <attribute name="name">
            <value>CoordinateMesh</value>
          </attribute>
          <ref name="mesh_info"/>
        </element>
        <optional>
          <element name="mesh">
            <attribute name="name">
              <value>PotentialVorticityMesh</value>
            </attribute>
            <ref name="mesh_info"/>
          </element>
        </optional>
        <optional>
          <element name="mesh">
            <attribute name="name">
              <value>StreamfunctionMesh</value>
            </attribute>
            <ref name="mesh_info"/>
          </element>
        </optional>
        <element name="mesh">
          <attribute name="name">
            <value>VelocityMesh</value>
          </attribute>
          <element name="from_mesh">
            <a:documentation>Make mesh from existing mesh. </a:documentation>
            <ref name="mesh_choice"/>
            <element name="mesh_continuity">
              <element name="string_value">
                <value>discontinuous</value>
              </element>
            </element>
          </element>
        </element>
        <zeroOrMore>
          <element name="mesh">
            <attribute name="name">
              <data type="string"/>
            </attribute>
            <ref name="mesh_info"/>
          </element>
        </zeroOrMore>
        <element name="quadrature">
          <a:documentation>Quadrature</a:documentation>
          <element name="degree">
            <a:documentation>Quadrature degree
note: this specifies the degree of quadrature not the number of gauss points</a:documentation>
            <ref name="integer"/>
          </element>
        </element>
      </element>
      <element name="io">
        <a:documentation>Input/output options</a:documentation>
        <element name="dump_period">
          <a:documentation>Period between dumps in time units.
Specifies the period between each dump of the solution to disk.
A value of 0.0 indicates that there would be a dump at every timestep.</a:documentation>
          <ref name="real"/>
        </element>
        <choice>
          <element name="output_mesh">
            <a:documentation>The mesh on to which all the fields will be
interpolated for VTK output.</a:documentation>
            <attribute name="name">
              <value>CoordinateMesh</value>
            </attribute>
          </element>
          <element name="output_mesh">
            <a:documentation>The mesh on to which all the fields will be
interpolated for VTK output.</a:documentation>
            <attribute name="name">
              <value>PotentialVorticityMesh</value>
            </attribute>
          </element>
          <element name="output_mesh">
            <a:documentation>The mesh on to which all the fields will be
interpolated for VTK output.</a:documentation>
            <attribute name="name">
              <value>StreamfunctionMesh</value>
            </attribute>
          </element>
          <element name="output_mesh">
            <a:documentation>The mesh on to which all the fields will be
interpolated for VTK output.</a:documentation>
            <attribute name="name">
              <value>VelocityMesh</value>
            </attribute>
          </element>
          <element name="output_mesh">
            <a:documentation>The mesh on to which all the fields will be
interpolated for VTK output.</a:documentation>
            <attribute name="name">
              <data type="string"/>
            </attribute>
          </element>
        </choice>
      </element>
      <element name="timestepping">
        <a:documentation>Options dealing with time discretisation</a:documentation>
        <element name="current_time">
          <a:documentation>Current simulation time. At the start of the simulation this
is the start time.</a:documentation>
          <ref name="real"/>
        </element>
        <element name="timestep">
          <a:documentation>The time step size. If adaptive time stepping is used
then this is the initial time step size.</a:documentation>
          <ref name="real"/>
        </element>
        <element name="finish_time">
          <a:documentation>Simulation time at which the simulation should end.</a:documentation>
          <ref name="real"/>
        </element>
        <optional>
          <element name="rungekutta">
            <a:documentation>Settings for Runge-Kutta timestepping</a:documentation>
            <element name="stages">
              <ref name="real_vector"/>
            </element>
            <element name="weights">
              <ref name="real_vector"/>
            </element>
          </element>
        </optional>
      </element>
      <element name="physical_parameters">
        <a:documentation>The physical parameters</a:documentation>
        <optional>
          <element name="buoyancy_frequency">
            <a:documentation>Set buoyancy frequency N where N^2=-(g/rho)(d rho/dz)</a:documentation>
            <ref name="real"/>
          </element>
        </optional>
        <element name="coriolis">
          <choice>
            <ref name="f_plane_options"/>
            <ref name="beta_plane_options"/>
          </choice>
        </element>
      </element>
      <element name="material_phase">
        <attribute name="name">
          <data type="string"/>
        </attribute>
        <element name="scalar_field">
          <attribute name="rank">
            <value>0</value>
          </attribute>
          <attribute name="name">
            <value>PotentialVorticity</value>
          </attribute>
          <element name="prognostic">
            <a:documentation>Field type</a:documentation>
            <ref name="mesh_choice"/>
            <ref name="prognostic_PV_field"/>
          </element>
        </element>
        <element name="scalar_field">
          <attribute name="rank">
            <value>0</value>
          </attribute>
          <attribute name="name">
            <value>Streamfunction</value>
          </attribute>
          <choice>
            <a:documentation>Field type</a:documentation>
            <element name="prognostic">
              <ref name="mesh_choice"/>
              <ref name="prognostic_streamfunction_field"/>
            </element>
            <element name="prescribed">
              <ref name="mesh_choice"/>
              <ref name="prescribed_scalar_field"/>
            </element>
          </choice>
        </element>
        <optional>
          <element name="vector_field">
            <attribute name="rank">
              <value>0</value>
            </attribute>
            <attribute name="name">
              <value>BackgroundVelocity</value>
            </attribute>
            <element name="prescribed">
              <a:documentation>Field type</a:documentation>
              <element name="mesh">
                <attribute name="name">
                  <value>VelocityMesh</value>
                </attribute>
              </element>
              <ref name="prescribed_values_vector_field"/>
            </element>
          </element>
        </optional>
      </element>
      <optional>
        <ref name="mesh_adaptivity_options"/>
      </optional>
    </element>
  </start>
  <define name="prescribed_scalar_field">
    <ref name="prescribed_scalar_field_no_adapt"/>
    <ref name="adaptivity_options_scalar_field"/>
  </define>
  <define name="prescribed_scalar_field_no_adapt">
    <ref name="prescribed_values_scalar_field"/>
  </define>
  <define name="prognostic_PV_field">
    <element name="equation">
      <attribute name="name">
        <value>AdvectionDiffusion</value>
      </attribute>
    </element>
    <ref name="spatial_discretisation_options"/>
    <ref name="temporal_discretisation_options"/>
    <element name="initial_condition">
      <a:documentation>Initial condition for WholeMesh</a:documentation>
      <attribute name="name">
        <value>WholeMesh</value>
      </attribute>
      <ref name="input_choice_initial_condition_real"/>
    </element>
    <element name="solver">
      <a:documentation>Solver</a:documentation>
      <ref name="linear_solver_options_asym"/>
    </element>
    <optional>
      <element name="tensor_field">
        <a:documentation>Diffusivity for field</a:documentation>
        <attribute name="name">
          <value>Diffusivity</value>
        </attribute>
        <attribute name="rank">
          <value>2</value>
        </attribute>
        <element name="prescribed">
          <ref name="prescribed_values_tensor_field"/>
        </element>
      </element>
    </optional>
    <optional>
      <element name="scalar_field">
        <a:documentation>source term</a:documentation>
        <attribute name="name">
          <value>Source</value>
        </attribute>
        <attribute name="rank">
          <value>0</value>
        </attribute>
        <element name="prescribed">
          <ref name="prescribed_scalar_field_no_adapt"/>
        </element>
      </element>
    </optional>
    <optional>
      <element name="scalar_field">
        <a:documentation>Absorption term</a:documentation>
        <attribute name="name">
          <value>Absorption</value>
        </attribute>
        <attribute name="rank">
          <value>0</value>
        </attribute>
        <element name="prescribed">
          <ref name="prescribed_scalar_field_no_adapt"/>
        </element>
      </element>
    </optional>
    <ref name="adaptivity_options_prognostic_scalar_field"/>
    <ref name="interpolation_algorithm_scalar"/>
  </define>
  <define name="prognostic_buoyancy_field">
    <element name="equation">
      <attribute name="name">
        <value>AdvectionDiffusion</value>
      </attribute>
    </element>
    <ref name="spatial_discretisation_options"/>
    <ref name="temporal_discretisation_options"/>
    <element name="initial_condition">
      <a:documentation>Initial condition for WholeMesh</a:documentation>
      <attribute name="name">
        <value>WholeMesh</value>
      </attribute>
      <ref name="input_choice_initial_condition_real"/>
    </element>
    <element name="solver">
      <a:documentation>Solver</a:documentation>
      <ref name="linear_solver_options_asym"/>
    </element>
    <optional>
      <element name="tensor_field">
        <a:documentation>Diffusivity for field</a:documentation>
        <attribute name="name">
          <value>Diffusivity</value>
        </attribute>
        <attribute name="rank">
          <value>2</value>
        </attribute>
        <element name="prescribed">
          <ref name="prescribed_values_dim_minus_one_tensor_field"/>
        </element>
      </element>
    </optional>
    <optional>
      <element name="scalar_field">
        <a:documentation>source term</a:documentation>
        <attribute name="name">
          <value>Source</value>
        </attribute>
        <attribute name="rank">
          <value>0</value>
        </attribute>
        <element name="diagnostic">
          <element name="mesh">
            <attribute name="name">
              <value>VelocityMesh</value>
            </attribute>
          </element>
          <ref name="scalar_python_diagnostic_algorithm"/>
        </element>
      </element>
    </optional>
  </define>
  <define name="prognostic_streamfunction_field">
    <element name="solver">
      <a:documentation>Solver</a:documentation>
      <ref name="linear_solver_options_sym"/>
    </element>
    <zeroOrMore>
      <element name="boundary_conditions">
        <a:documentation>Boundary conditions
You must specify the surface ids for the side boundaries where we set the streamfunction to zero.
For the top and bottom boundaries, we solve an advection-diffusion equation for the buoyancy.</a:documentation>
        <attribute name="name">
          <data type="string" datatypeLibrary=""/>
        </attribute>
        <element name="surface_ids">
          <a:documentation>Surface id:</a:documentation>
          <ref name="integer_vector"/>
        </element>
        <choice>
          <element name="type">
            <attribute name="name">
              <value>dirichlet</value>
            </attribute>
            <element name="constant">
              <ref name="real"/>
            </element>
          </element>
          <element name="type">
            <attribute name="name">
              <value>buoyancy</value>
            </attribute>
            <element name="scalar_field">
              <element name="prognostic">
                <ref name="prognostic_buoyancy_field"/>
              </element>
            </element>
          </element>
        </choice>
      </element>
    </zeroOrMore>
  </define>
  <define name="mesh_choice">
    <!-- Most common mesh choices -->
    <choice>
      <element name="mesh">
        <attribute name="name">
          <data type="string"/>
        </attribute>
      </element>
      <element name="mesh">
        <attribute name="name">
          <value>CoordinateMesh</value>
        </attribute>
      </element>
      <element name="mesh">
        <attribute name="name">
          <value>PotentialVorticityMesh</value>
        </attribute>
      </element>
      <element name="mesh">
        <attribute name="name">
          <value>StreamfunctionMesh</value>
        </attribute>
      </element>
    </choice>
  </define>
  <define name="beta_plane_options">
    <element name="beta_plane">
      <a:documentation>Beta-plane approximation
This means the Coriolis force looks like:
  f k x u
where k is the z unit vector
   and u the velocity vector
   and f=f_0+beta . (x,y,z)</a:documentation>
      <element name="f_0">
        <a:documentation>Beta-plane approximation
This means the Coriolis force looks like:
  f k x u
where k is the z unit vector
   and u the velocity vector
   and f=f_0+beta . (x,y,z)</a:documentation>
        <ref name="real"/>
      </element>
      <element name="beta">
        <a:documentation>Beta-plane approximation
This means the Coriolis force looks like:
  f k x u
where k is the z unit vector
   and u the velocity vector
   and f=f_0+beta . (x,y,z)
usually only the y-component of beta is non-zero</a:documentation>
        <element name="vector_field">
          <element name="prescribed">
            <ref name="prescribed_values_vector_field"/>
          </element>
        </element>
      </element>
    </element>
  </define>
</grammar>
