tools/burgers_equation.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="spud_base.rng"/>
  <include href="adaptivity_options.rng"/>
  <include href="diagnostic_algorithms.rng"/>
  <include href="input_output.rng"/>
  <include href="solvers.rng"/>
  <include href="stabilisation.rng"/>
  <include href="reduced_model.rng"/>
  <include href="mesh_options.rng"/>
  <include href="physical_parameters.rng"/>
  <include href="prognostic_field_options.rng"/>
  <include href="prescribed_field_options.rng"/>
  <include href="spatial_discretisation.rng"/>
  <include href="temporal_discretisation.rng"/>
  <start>
    <element name="burgers_equation">
      <a:documentation>The root node of the options dictionary.</a:documentation>
      <ref name="comment"/>
      <element name="simulation_name">
        <a:documentation>Model output files are named according to the simulation
name, e.g. [simulation_name]_0.vtu. Non-standard
characters in the simulation name should be avoided.</a:documentation>
        <ref name="anystring"/>
      </element>
      <ref name="geometry"/>
      <ref name="timestepping"/>
      <ref name="material_phase"/>
    </element>
  </start>
  <define name="geometry">
    <element name="geometry">
      <a:documentation>Options dealing with the specification of geometry</a:documentation>
      <element name="dimension">
        <a:documentation>Dimension of the problem.
&lt;b&gt;This can only be set once&lt;/b&gt;</a:documentation>
        <attribute name="replaces">
          <value>NDIM</value>
        </attribute>
        <element name="integer_value">
          <attribute name="rank">
            <value>0</value>
          </attribute>
          <value>1</value>
        </element>
      </element>
      <element name="mesh">
        <a:documentation>The position mesh</a:documentation>
        <attribute name="name">
          <value>CoordinateMesh</value>
        </attribute>
        <ref name="mesh_info_fromfile"/>
      </element>
      <element name="mesh">
        <a:documentation>The velocity mesh</a:documentation>
        <attribute name="name">
          <value>VelocityMesh</value>
        </attribute>
        <ref name="mesh_info_frommesh"/>
      </element>
      <element name="quadrature">
        <a:documentation>Quadrature</a:documentation>
        <element name="degree">
          <a:documentation>Quadrature degree

note: this specifies the degree of quadrature,
not the number of gauss points</a:documentation>
          <attribute name="replaces">
            <value>NGI</value>
          </attribute>
          <ref name="integer"/>
        </element>
        <optional>
          <element name="surface_degree">
            <a:documentation>Surface quadrature degree

note: this specifies the degree of surface
quadrature not the number of surface gauss points</a:documentation>
            <attribute name="replaces">
              <value>SNGI</value>
            </attribute>
            <ref name="integer"/>
          </element>
        </optional>
      </element>
    </element>
  </define>
  <define name="mesh_choice">
    <element name="mesh">
      <attribute name="name">
        <value>CoordinateMesh</value>
      </attribute>
    </element>
  </define>
  <define name="mesh_info_fromfile">
    <element name="from_file">
      <a:documentation>Read mesh from file.</a:documentation>
      <choice>
        <element name="format">
          <a:documentation>Triangle mesh format.

Enter the base name without the .edge .ele, .face or
.node extensions, and without process numbers.</a:documentation>
          <attribute name="name">
            <value>triangle</value>
          </attribute>
          <ref name="comment"/>
        </element>
        <element name="format">
          <a:documentation>Read the mesh from a vtu. Note that the mesh will have no 
surface or region IDs.</a:documentation>
          <attribute name="name">
            <value>vtu</value>
          </attribute>
          <ref name="comment"/>
        </element>
        <element name="format">
          <a:documentation>GMSH mesh format</a:documentation>
          <attribute name="name">
            <value>gmsh</value>
          </attribute>
          <ref name="comment"/>
        </element>
      </choice>
      <attribute name="file_name">
        <data type="string"/>
      </attribute>
      <ref name="from_file_mesh_stat_options"/>
      <ref name="comment"/>
    </element>
  </define>
  <define name="mesh_info_frommesh">
    <element name="from_mesh">
      <a:documentation>Make mesh from existing mesh. </a:documentation>
      <ref name="mesh_choice"/>
      <optional>
        <element name="mesh_shape">
          <optional>
            <element name="polynomial_degree">
              <ref name="integer"/>
            </element>
          </optional>
          <optional>
            <element name="element_type">
              <element name="string_value">
                <value>lagrangian</value>
              </element>
            </element>
          </optional>
        </element>
      </optional>
      <ref name="derived_mesh_stat_options"/>
      <ref name="comment"/>
    </element>
  </define>
  <define name="timestepping">
    <element name="timestepping">
      <a:documentation>Options dealing with time discretisation</a:documentation>
      <element name="current_time">
        <a:documentation>Current simulation time. At the start of the simulation this
is the start time.</a:documentation>
        <attribute name="replaces">
          <value>ACCTIM</value>
        </attribute>
        <ref name="real"/>
      </element>
      <element name="timestep">
        <a:documentation>The time step size. If adaptive time stepping is used
then this is the initial time step size.</a:documentation>
        <attribute name="replaces">
          <value>DT</value>
        </attribute>
        <ref name="real"/>
      </element>
      <element name="finish_time">
        <a:documentation>Simulation time at which the simulation should end.</a:documentation>
        <attribute name="replaces">
          <value>LTIME</value>
        </attribute>
        <ref name="real"/>
      </element>
      <optional>
        <element name="final_timestep">
          <a:documentation>Timestep after which the simulation should end.</a:documentation>
          <ref name="integer"/>
        </element>
      </optional>
      <optional>
        <element name="nonlinear_iterations">
          <a:documentation>Number of non-linear iterations.

Manual suggests 2</a:documentation>
          <attribute name="replaces">
            <value>ITINOI</value>
          </attribute>
          <ref name="integer"/>
        </element>
      </optional>
    </element>
  </define>
  <define name="material_phase">
    <element name="material_phase">
      <a:documentation>The material phase options</a:documentation>
      <attribute name="name">
        <value>Fluid</value>
      </attribute>
      <element name="scalar_field">
        <attribute name="rank">
          <value>0</value>
        </attribute>
        <attribute name="name">
          <value>Velocity</value>
        </attribute>
        <element name="prognostic">
          <element name="mesh">
            <attribute name="name">
              <value>VelocityMesh</value>
            </attribute>
          </element>
          <optional>
            <element name="temporal_discretisation">
              <a:documentation>Options dealing with the temporal discretisation of velocity</a:documentation>
              <element name="theta">
                <a:documentation>The degree of implicitness in the timestepping. 
0 is fully explicit, 1 is implicit, 0.5 is Crank-Nicolson.
Recommended to be 0.5.</a:documentation>
                <ref name="real"/>
              </element>
              <element name="relaxation">
                <a:documentation>The relaxation term in the nonlinear iterations at each timestep
0 means the previous timestep velocity is used to form the advection operator,
while 1 means the best guess of the next timestep velocity is used.
Recommended to be 0.5.</a:documentation>
                <ref name="real"/>
              </element>
            </element>
          </optional>
          <element name="solver">
            <ref name="linear_solver_options_asym"/>
          </element>
          <ref name="initial_condition_scalar"/>
          <oneOrMore>
            <ref name="boundary_conditions"/>
          </oneOrMore>
          <element name="viscosity">
            <ref name="real"/>
          </element>
          <element name="scalar_field">
            <attribute name="name">
              <value>Source</value>
            </attribute>
            <attribute name="rank">
              <value>0</value>
            </attribute>
            <element name="prescribed">
              <ref name="prescribed_scalar_field_no_adapt"/>
              <optional>
                <ref name="recalculation_options"/>
              </optional>
            </element>
          </element>
        </element>
      </element>
    </element>
  </define>
  <define name="boundary_conditions">
    <element name="boundary_conditions">
      <a:documentation>Boundary conditions</a:documentation>
      <attribute name="name">
        <data type="string" datatypeLibrary=""/>
      </attribute>
      <element name="surface_ids">
        <a:documentation>Surface id</a:documentation>
        <ref name="integer_vector"/>
      </element>
      <element name="type">
        <attribute name="name">
          <value>neumann </value>
        </attribute>
        <ref name="input_choice_real"/>
      </element>
    </element>
  </define>
  <define name="prescribed_output_options">
    <empty/>
  </define>
  <define name="prescribed_detector_options">
    <empty/>
  </define>
  <define name="prescribed_scalar_stat_options">
    <empty/>
  </define>
  <define name="recalculation_options">
    <element name="do_not_recalculate">
      <a:documentation>Prevent this field from being recalculated at every timestep.
This is cheaper especially if you are enforcing discrete properties on the field.</a:documentation>
      <empty/>
    </element>
  </define>
</grammar>
