tools/reduced_model.rnc


reduced_model = 
   element reduced_model {
      element pod_basis_formation {
         ## How frequently should the dumps be sampled to form the POD basis? 
         ##
         ## E.g. 1 for every dump, 10 for every tenth dump. 
         element dump_sampling_period {
            integer
         }
      }
   }
      